* {
  box-sizing: border-box;
}

/* filler space */
.left-space {
    width: 25%;
}

.right-space {
    width: 25%;
}

.header {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
}

.short-codes {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.title {
    font-size: 26px;
}

.tinyurls {
    width: 50%;
}

.entry {
    display: flex;
    border: 2px solid #aaa;
    padding: 3px 12px;
    margin: 3px;
    border-radius: 5px;
}

.key {
    display: flex;
    width: 20%;
    padding: 0.5rem;
    justify-content: center;
}

.url {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.0rem;
    color: blue;
}

